{% extends 'base.html'%} {% block title %}Captue Image Idle Page {% endblock %}
{% block content%}

<div class="loader">
  <div class="container">
    <div class="loader__wrapper">
      <div class="eggGrp__wrapper">
        <i class="fa-solid fa-egg"></i>
        <i class="fa-solid fa-egg"></i>
        <i class="fa-solid fa-egg"></i>
        <i class="fa-solid fa-egg"></i>
        <i class="fa-solid fa-egg"></i>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__text">
          <p>Capturing Image...</p>
        </div>
      </div>
    </div>
  </footer>
  </div>

<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__text">
        <p>Capturing Image...</p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
