{% extends 'base.html' %} {% block title %}Slide In Prompt Page{% endblock %} {%
block content %}

<div class="prompt1">
  <div class="container">
    <div class="prompt__wrapper">
      <div class="prompt__img">
        <img
          src="{{ url_for('static', filename='images/closing.gif') }}"
          alt="" />
      </div>
      <div class="prompt__text" id="prompt__text">
        Slide in the drawer to begin capturing the initial snapshot of the tray
        of eggs.
      </div>
      <a href="/live_snapshot" class="custom-button">Next</a>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__text">
          <p>Tap the button to continue</p>
        </div>
      </div>
    </div>
  </footer>
</div>

{%endblock%}
